<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>InstaPic</title>
    <link rel="icon" href="/content/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/content/styles/site.css">
</head>
<body>
<main>
    <h1 class="head-title">[content]</h1>
</main>
<footer>
    <p>&copy; InstaPic</p>
</footer>
<script src="../../content/scripts/scripts.js"></script>
</body>
</html>
