extends ../layout

block content
    .cards
        each category in categories
            .product-card
                h2
                   a(href='/tweet/list/' + category.name)= category.name
